# These are required for the stack to work
MVSENSOR_API_KEY=6becXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX9ea1
MVSENSOR_SERIAL=Q2GV-XXXX-XXXX
ROOM_NAME=MH-Team-3
WEBEX_BOT_USERNAME=Y2lzXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXI3OA
WEBEX_TEAMS_ACCESS_TOKEN=ZWZkXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXPF84_consumer
